body {
    background-color: black;
    font-size: bold;
}
button {
    border-radius: 500px;
    color: white;
    background-color: rgb(56, 55, 55);
    padding: 15px;
    border: none;
}
.calcScreen {
   background-color:  black;
   padding: 20px; 
   color: white;

}
.sign {
    background-color: orange;
}